table {
    width: 100%;
  }

  td.mat-cell,
th.mat-header-cell {
  border: 1px 0px solid #cccccc;
  padding: 0px 7px 0px;
  text-align: left;
  font-size: 15px;
}

tr.mat-row:hover {
  background: #cccccc;
  cursor: pointer;
}