<div class="opciones">
    <mat-icon class="iconosdos">check_box_outline_blank</mat-icon>
    <mat-icon>arrow_drop_down</mat-icon>
    <mat-icon class="iconosdos">refresh</mat-icon>
    <mat-icon class="iconosdos">more_vert</mat-icon>
    <mat-icon class="iconosflechas">keyboard_arrow_right</mat-icon>
    <mat-icon class="iconosflechas">keyboard_arrow_left</mat-icon>

    <mat-tab-group class="opcionestabs">
        <mat-tab class="optabs" label="Principal">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">move_to_inbox</mat-icon>
                Principal
            </ng-template>
            <app-bandeja></app-bandeja>
        </mat-tab>
        <mat-tab class="optabs" label="Social">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">group</mat-icon>
                Social
            </ng-template>
            <!-- <app-vista-mensaje></app-vista-mensaje> -->
        </mat-tab>
        <mat-tab class="optabs" label="Promociones">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">local_offer</mat-icon>
                Promociones
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>