.fondomensaje {
    background-color: #f4ecdc;
    padding: 0;
}

.contenedorlanding
{
    width: 80%;
    margin: auto;
    padding: 2%;
}

.contenedorlanding div, button, mat-grid-list
{
    margin-top: 40px;
}

button
{
    padding: 0 64px;
    color: #ffffff;
}

.landingemail
{
    width: 100%;
}

.imagen1 
{
    background-image: url(../../../assets/img1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.imagen2 
{
    content: url(../../../assets/img2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.primeraimg 
{
    width: 100%;
    height: 300px;
    background-size: contain;
    background-image: url(../../../assets/img3.png);
    background-repeat: no-repeat;
}

.encabezadoemail
{
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 5%;
    height: fit-content;
}

.asunto
{
    font-size: 1.375rem;;
    margin-top: 1.75rem !important;
    font-weight: 400;
}
.asuntoemail
{
    padding-left: 2.75rem;
    background-color: #ffffff;
    margin-bottom: -2.5%;
}
.icono-asunto
{
    color: #f4b404;
    margin-left: 1%;
}

.avataremail {
    width: 5%;
    padding-top: 1%;
}

.encabezadoemail p {
   line-height: 1.2;
}

.iconos-remitentes {
    width: 20%;
    margin-left: 53%;
}

.icono-remitente
{
    margin-right: 5%;
    color: gray;
}

.label-email
{
    background-color: #ccc;
    font-size: .75rem;
    padding: 0px 6px;
    border-radius: 7px;
    color: gray;
    margin-left: 0.3%;
}

.avatar-email {
    font-size: 2.75rem;
    color: gray;
}

.iconos-email {
    margin-left: 62%;
    color: gray;
}

.icono-email
{
    margin-right: 10%;
}


mat-grid-tile div
{
    width: 100%;
    height: 100%;
    padding: 5%;
}

mat-grid-tile div p
{
    font-size: 14px !important;
    line-height: 1.2;
}

mat-divider
{
    color: #f5f5f5 !important;
    margin: 2% 0;
}