<mat-card class="fondomensaje">
    <mat-toolbar class="asuntoemail">
        <h2 class="asunto">{{"Fwd: "+mensaje.asunto}}</h2>
        <mat-icon class="icono-asunto">label_important</mat-icon><small class="label-email">Recibidos</small>
    
        <div class="iconos-email">
            <mat-icon class="icono-email">unfold_less</mat-icon>
            <mat-icon class="icono-email"> local_printshop</mat-icon>
            <mat-icon class="icono-email">open_in_new</mat-icon>
        </div>
    </mat-toolbar>
    
    <mat-toolbar class="encabezadoemail">
        <div class="avataremail">
            <mat-icon class="avatar-email">account_circle</mat-icon>
        </div>
    
        <p style="font-weight: bold;">{{obtenerFormatoNombre(mensaje.correoremitente)| uppercase }}<br>
        <small style="font-weight: normal;">para mi</small></p>
    
        <small style="font-size: 14px;margin-left: 1%;color: gray;transform: translateY(-6px);">{{mensaje.correoremitente}}</small>
    
        <div class="iconos-remitentes">
        <small style="font-size:12px; margin-right: 2%; color:rgb(110, 110, 110)">{{mensaje.fecha+" de 2021"+mensaje.hora}}</small>
        <mat-icon class="icono-remitente">star_border</mat-icon>
    
        <mat-icon class="icono-remitente">reply</mat-icon>
    
        <mat-icon class="icono-remitente">more_vert</mat-icon>
        </div>
    </mat-toolbar>
    
    <mat-card class="contenedorlanding">
        <mat-card-title style="background-color: #546474; padding: 0.5%; color: #ffffff; width: 40%;">Refuerzo de las vacunas</mat-card-title>
        
        <div class="primeraimg">
            <img mat-card-image src="">
        </div>
        <button mat-raised-button color="warn">Ver más</button>
        <mat-divider></mat-divider>
        <mat-grid-list class="landingemail" cols="2" rowHeight="300px">
            <mat-grid-tile class="imagen1">
                <!--<img mat-card-image src="" >-->
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                <mat-card-title style="background-color: #546474; padding: 0.5%; color: #ffffff; width: 70%;">Refuerzo de las vacunas</mat-card-title>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, iusto. <br><br>
                   Possimus harum inventore molestias, ut illum, ratione distinctio necessitatibus reiciendis repellendus eius laboriosam. <br><br>
                   Ea fuga rerum unde temporibus ipsam blanditiis.
                </p>
                   <button mat-raised-button style="background-color:#f4b404;">Ver más</button>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <mat-card-title style="background-color: #546474; padding: 0.5%; color: #ffffff; width: 70%;">Refuerzo de las vacunas</mat-card-title>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, iusto. <br><br>
                       Possimus harum inventore molestias, ut illum, ratione distinctio necessitatibus reiciendis repellendus eius laboriosam. <br><br>
                       Ea fuga rerum unde temporibus ipsam blanditiis.
                    </p>
                       <button mat-raised-button style="background-color:#f4b404;">Ver más</button>
                    </div>
            </mat-grid-tile>
            <mat-grid-tile class="imagen2">
                <!--<img mat-card-image src="" >-->
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
    
</mat-card>
