<div>
    <mat-toolbar class="header-principal">
        <mat-icon class="iconos-hover" (click)="drawer.toggle()">menu</mat-icon>

        <div mat-card-avatar class="img-company"></div>

        <div class="div-search">
            <mat-form-field class="space-search" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>
                <input class="buscar" matInput placeholder="Buscar correo">
            </mat-form-field>
        </div>

        <mat-icon class="iconos-header">help_outline</mat-icon>

        <mat-icon class="iconos-header">settings</mat-icon>

        <mat-icon class="iconos-header">apps</mat-icon>

        <div class="avatar-right">
            <igx-avatar initials="JS" [roundShape]="true" size="down">
            </igx-avatar>
        </div>
    </mat-toolbar>
</div>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
        <div class="space-btnredactar">
            <button mat-raised-button color="warn">Redactar</button>
        </div>
        <mat-list>
            <mat-list-item class="items" (click)="abrirRecibidos()">
                <mat-icon class="icemails">inbox</mat-icon> Recibidos
            </mat-list-item>
            <mat-list-item class="items">
                <mat-icon class="icemails">star</mat-icon> Destacados
            </mat-list-item>
            <mat-list-item class="items">
                <mat-icon class="icemails">watch_later</mat-icon> Pospuestos
            </mat-list-item>
            <mat-list-item class="items">
                <mat-icon class="icemails">label_important</mat-icon> Importantes
            </mat-list-item>
            <mat-list-item class="items">
                <mat-icon class="icemails">send</mat-icon> Enviados
            </mat-list-item>
            <mat-list-item class="items">
                <mat-icon class="icemails"> insert_drive_file</mat-icon> Borradores
            </mat-list-item>
            <mat-list-item class="items">
                <mat-icon class="icemails">label</mat-icon> Categorías
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <ng-container *ngComponentOutlet="component"></ng-container>
    </div>
</mat-drawer-container>
